:root {
  background-color: $color-bg;
}
.page__title {
  font-family: $font-main;
  font-size: 1.5rem;
  color: $color-primary;
  margin: 25px;
}
.search__form {
  margin-left: 25px;
  background-color: transparent;
  margin-bottom: 35px;
}
.form__input {
  border: solid 1px $color-secondary;
  margin-right: 10px;
  width: 250px;
  font-family: $font-main;
  color: $color-primary;
  font-size: 1rem;
}
.form__btn {
  margin-right: 10px;
  padding: 1px 3px;
  width: 80px;
  border: solid 1px $color-secondary;
  font-size: 1rem;
}
.anime__wrapper {
  display: flex;
  flex-direction: row;
}
.anime__results {
  width: 60%;
  flex-wrap: wrap;
}
.anime__favourites {
  width: 40%;
  //   border: solid 1.5px $color-primary;
}
.anime__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: $font-main;
  font-weight: bold;
  color: $color-primary;
  outline: solid 1px red;
}
.anime__card {
  outline: solid 1px red;
  width: 225px;
  height: 400px;
}
.anime__fav--item {
  background-color: $color-primary;
  color: $color-bg;
  border: solid 1px $color-bg;
}
