:root {
  background-color: $color-bg;
}
.page__title {
  font-family: $font-main;
  font-size: 1.5rem;
  color: $color-primary;
  margin: 25px;
}
.search__form {
  margin-left: 25px;
  background-color: transparent;
  margin-bottom: 35px;
}
.form__input {
  border: solid 1px $color-secondary;
  margin-right: 10px;
  width: 250px;
  font-family: $font-main;
  color: $color-primary;
  font-size: 1rem;
}
.form__btn {
  margin-right: 10px;
  padding: 1px 3px;
  width: 80px;
  border: solid 1px $color-secondary;
  font-size: 1rem;
}
.anime__wrapper {
  display: flex;
  flex-direction: row;
}
.anime__results {
  width: 60%;
  height: auto;
  flex-wrap: wrap;
  margin-left: 15px;
  &--title {
    font-family: $font-main;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 15px;
    color: $color-primary;
  }
}
.anime__favourites {
  width: 40%;
  height: auto;
  text-align: center;
}
.fav__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.anime__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.anime__card {
  margin-top: 25px;
  width: 225px;
  height: 250px;
  text-align: center;
  color: $color-primary;
}
.anime__card--image {
  width: 125px;
  height: 176px;
  align-self: center;
  object-fit: cover;
  object-position: center center;
}
.anime__card--title {
  font-family: $font-main;
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 5px;
  text-align: center;
}
.anime__fav--item {
  background-color: $color-primary;
  color: $color-bg;
  border: solid 1px $color-bg;
  font-family: $font-main;
}
.btn__fav {
  width: 80px;
  margin-top: 20px;
  border: solid 1px $color-primary;
  font-size: 1rem;
  padding: 5px;
  border-radius: 25px;
  &:hover {
    background-color: $color-primary;
    color: $color-bg;
  }
}